@import './normalize.css'
@import './reset'
$black = #212121
$white = #FAFAFA
body
	font-size 16px
	
.header
	background-color $black
	color $white
	height 64px
	position fixed
	top 0 
	lef 0
	width 100%
	z-index 10
	
	&-mobile
		display flex
		justify-content space-between
		
	&-logo
		order 1
	
	&-btn-nav
		order 2
		border 0
		border-radius 5px
		background-color $black
	
	&-menu-navbar
		background-color $black
		list-style-type none
		height 0
		overflow hidden
		
		
	&-menu-list
		list-style-type none
		height 0
		overflow hidden
		transition height 0.3s ease 
		
		&--show
			height 300px
			
		&-item
			a
				text_decoration none
				

@media(min-width: 768px)
	.header
		&-btn-nav
			display none